/* permanent-marker-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/permanent-marker-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.mainContainer {
    background-color: rgb(111, 162, 164);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        color: white;
        font-family: 'Permanent Marker';
        margin: 0.5rem;
    }

    p {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

.divider {
    height: 0.08rem;
    background: linear-gradient(to left, transparent, rgb(255, 255, 255));
    width: 90%;
}