.mainContainer {
    // border: 1px solid blue;
    // width: 100%;
    background-color: rgb(223, 253, 253);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-inline: 0.5rem;
    
    button {
        all:unset;
    }

    button.remove {
        margin-left: auto;
    }
}

.modalThing {
    border: 0.05rem solid rgb(0, 0, 0);
    background-color: #eefaf1;
    margin: 1rem;
    padding: 0.5rem;
}

@media(min-width: 768px) {
    .modalThing {
        // border: 40px solid rgb(255, 7, 89);
        width: 40vw;
        justify-self: center;
    }
}
