.mainContainer {
    // background-color: rgb(223, 253, 253);
    // border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border-top: 0.3rem solid rgb(150, 207, 138);
}